body {
  margin: 0;
  padding: 0;
  margin-top: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

@font-face {
  font-family: "Rick_and_Morty";
  src: local("Rick_and_Morty"),
    url(rick_and_morty_font_by_starriichan_d9h2vl6.ttf) format("ttf");
}

:root {
  --verdeRM: #82c826;
  --verdeazulOscuroRM: #264a48;
  --grisRM: #cfdad2;
  --cafeRM: #894b3d;
  --amarilloRM: #ead854;
  --cafeclaroRM: #b49889;
  --azuloscuroRM: #2a4a65;
  --vinotintoRM: #893740;
  --ocreRM: #ac7b2c;
  --azulgrisRM: #c0dae4;
}

header {
  display: flex;
  background-color: black;
  width: 100%;
  height: 100px;
  left: 0px;
  top: 0px;
  position: fixed;
  z-index: 1;
}
.icono {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 30px;
  height: 80%;
}
.icono div {
  display: flex;
}
.burgerMenu {
  padding-left: 20px;
  width: 35px;
  height: 35px;
  display: none;
}
.img_logo1 {
  width: 60px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  padding-right: 0%;
}
.img_logo2 {
  height: 90px;
  padding-left: 0;
  margin-left: 10px;
  margin-right: 20px;
}
.main_header {
  text-align: center;
  background: #ead854;
  font-size: 23px;
  font-family: "Lobster", cursive;
}
.icono_menu {
  padding-top: 30px;
}

#boton_menu {
  display: none;
}
.menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60%;
}
.menu ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-flex;
}
.menu div {
  margin-right: 10px;
}
.menu li {
  padding: 20px 25px 0px 25px;
}
.menu li a {
  text-decoration: none;
  color: black;
}

.menu span {
  font-size: 26px;
  font-family: "Rick_and_Morty";
  color: white;
  cursor: pointer;
}
ul.seasons {
  display: none;
}
ul.origins {
  display: none;
}
.origin {
  position: relative;
}

.origin:hover .origins {
  display: block;
  background: #ead854;
  width: fit-content;
  position: absolute;
  cursor: pointer;
}
.season {
  position: relative;
}

.origins li:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (max-width: 500px) {
  header label {
    display: block;
    height: 70px;
  }

  .menu {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-left: -100%;
    transition: all 0.5s;
    z-index: 100;
  }
  #boton_menu:checked ~ .menu {
    margin: 0;
  }
  .dropbtn {
    color: black;
    width: 100%;
  }
}

/* Main */
main {
  background-image: url(/Assets/rick-and-morty-wallpaper-portal-wallpaper-016.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 500px;
  max-height: fit-content;
  margin-top: 100px;
}

.charactersFilterSection {
  display: flex;
  flex-direction: row;
}

aside {
  width: 200px;
  background-color: #2a4a65;
  color: white;
  padding: 5px 10px 10px 10px;
  position: fixed;
  min-height: 100%;
  max-height: fit-content;
}
aside p {
  margin: 0;
  margin-top: 5px;
}
aside button {
  display: flex;
  font-family: "Rick_and_Morty";
  text-align: center;
  padding: 10px 5px 5px 5px;
  border-radius: 10px;
  border: none;
  background-color: #82c826;
  font-size: 18px;
}
aside button img {
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
aside button span {
  text-align: center;
}
.filterContainer {
  margin-top: 5px;
  list-style: none;
  padding: 0;
  font-size: 14px;
}
aside ul {
  padding-left: 10px;
}
.options_filterContainer ul {
  list-style: none;
  padding-left: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
}
.deploy-but {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  width: 180px;
  align-items: center;
  border: 0.2px solid white;
  border-radius: 3px;
  padding: 1px 10px;
}

li img {
  margin-left: 20px;
  width: 10px;
  height: 10px;
}
.filterContainer .options_filterContainer:last-child ul {
  margin-bottom: 0;
}
.sortFilterView {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin-left: 220px;
  align-items: center;
  position: relative;
}
.sortContainer {
  display: flex;
  flex-direction: column;
  width: 90px;
  align-items: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
.sortContainer span {
  align-self: flex-start;
  color: white;
  font-family: "Rick_and_Morty";
  font-size: 26px;
}
.filterSection {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}
.filterSection div {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px 2px 4px 2px;
  width: 120px;
  height: 160px;
  border: 1px solid black;
  margin: 10px;
  border-radius: 20px;
  background-color: var(--azuloscuroRM);
}
.filterSection div img {
  width: 120px;
  height: 120px;
  margin-bottom: 11px;
  border-radius: 20px 20px 0px 0px;
}
.filterSection div span {
  font-size: 14px;
  text-align: center;
  color: white;
  font-weight: bold;
  font-family: "Ubuntu", sans-serif;
}
.moreInfoCharacter {
  display: none;
  visibility: hidden;
  opacity: 0;
  display: flex;
  flex-wrap: wrap;
}
.filterSection.invisible {
  display: none;
  visibility: hidden;
}
.moreInfoCharacter.invisible {
  visibility: visible;
  display: flex;
  opacity: 1;
  align-items: center;
  width: 100%;
  justify-content: center;
  background-color: black;
  flex-wrap: wrap;
}

.containerInfo {
  width: 260px;
  height: fit-content;
  display: flex;
  flex-direction: column;
  text-align: left;
  border: solid 1px black;
  padding: 15px 5px 25px 5px;
  border-radius: 5px;
  top: 60px;
  background-color: #2a4a65;
}
.containerInfo button {
  width: 80px;
  align-self: center;
  margin-top: 12px;
}
.containerInfo img {
  width: 220px;
  height: 200px;
  align-self: center;
  margin-bottom: 15px;
}
.containerInfo .CloseButton {
  width: 20px;
  height: 20px;
  top: 3px;
  right: 2px;
}
.containerInfo span {
  margin-left: 20px;
  margin-bottom: 1px;
  color: white;
}
.btnContainer {
  display: flex;
  justify-content: space-between;
}

.sortOrder img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  cursor: pointer;
}

.charactersFilterSection.visible {
  display: none;
}

/*Footer*/
footer {
  background-color: black;
  width: 100%;
}

.ajusteicono {
  display: inline-flex;
  margin: 20px 35px;
}
.ajusteicono img {
  padding: 25px;
}
.episodes_section {
  display: none;
}
.episodes_section {
  display: none;
}
.episodes_section.visible {
  display: flex;
  flex-direction: column;
  min-height: 900px;
  max-height: fit-content;
  background-color: white;
  align-items: center;
  padding-top: 30px;
}
.chapters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}
.episodes_section.visible section {
  display: flex;
  flex-direction: column;
  width: 700px;
  align-items: center;
}
.episodeContainer {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: fit-content;
  margin-bottom: 20px;
  margin-right: 20px;
}
.episodeContainer span {
  border: 1px solid black;
  margin-bottom: 5px;
}
.cardcharacter {
  display: flex;
  flex-wrap: wrap;
}
.cardcharacter img {
  width: 20px;
  height: 20px;
}
.cardcharacter span {
  font-size: 10px;
}
.moving_buttons {
  width: 97%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
}
.moving_buttons img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.active {
  background-color: #82c826;
}
.pagenumbers {
  width: 300px;
}
.pagenumbers button {
  border-radius: 2px;
  border: none;
  margin-right: 2px;
}
